In [1]:
#Import required library
import pandas as pd

In [2]:
#Load merged crime incident dataset into a Pandas DataFrame
df = pd.read_csv('2011-2022_street.csv')

In [7]:
#Create a new column with a value of 1 for all crime incidents
df['Count'] = 1

In [8]:
#Create a new DataFrame with only the required columns
df_crimecount = df[['Month', 'LSOA code', 'Count']]
df_crimecount.head()

      Month  LSOA code  Count
0   2011-01  E01027979      1
1   2011-01  E01027980      1
2   2011-01  E01027980      1
3   2011-01  E01027980      1
4   2011-01  E01027980      1
5   2011-01  E01027981      1
6   2011-01  E01027983      1
7   2011-01  E01027983      1
8   2011-01  E01027983      1
9   2011-01  E01027983      1
10  2011-01  E01027983      1
11  2011-01  E01027983      1
12  2011-01  E01027983      1
13  2011-01  E01027983      1
14  2011-01  E01027983      1
15  2011-01  E01027983      1
16  2011-01  E01027983      1
17  2011-01  E01027983      1
18  2011-01  E01027983      1
19  2011-01  E01027983      1

In [9]:
#Groupby the DataFrame by month, LSOA code and sum of crime incidents
#This will give sum of crime incidents for every LSOA code for each particular month
df_crimecount = df_crimecount.groupby(['Month', 'LSOA code'])['Count'].sum().reset_index()
df_crimecount.head()

      Month  LSOA code  Count
0   2011-01  E01007599      1
1   2011-01  E01007609      2
2   2011-01  E01013810      6
3   2011-01  E01013811     26
4   2011-01  E01013812     19
5   2011-01  E01013813     24
6   2011-01  E01013814     28
7   2011-01  E01013815     34
8   2011-01  E01013816     70
9   2011-01  E01013817      7
10  2011-01  E01013818     10
11  2011-01  E01013819      9
12  2011-01  E01013820     15
13  2011-01  E01013821     24
14  2011-01  E01013822     28
15  2011-01  E01013823      7
16  2011-01  E01013824      5
17  2011-01  E01013825     15
18  2011-01  E01013826     12
19  2011-01  E01013827     11

In [11]:
#Export DataFrame to a .csv file
df_crimecount.to_csv('2011-2022_crimecount.csv', index=False)